        body {
            background-color: white;
            font-family: 'Open Sans', sans-serif;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5 {
            letter-spacing: .2em;
        }
        
        h5 a {
            text-decoration: none !important;
        }
        
        .bg-light {
            background-color: transparent !important;
        }
        
        a {
            color: black;
            text-underline-position: under !important;
            text-decoration: underline;
        }
        
        p {
            color: black;
        }
        
        h4 {
            font-weight: bold;
            font-size: 20px;
        }
        
        h5 {
            margin: 0em !important;
            font-size: 1.1rem !important;
            /* font-weight: 600; */
            /* text-decoration: none; */
        }
        
        .overlay p {
            font-weight: 500;
            color: white;
        }
        
        .overlay h1 {
            font-weight: bold !important;
        }
        
        .navbar-expand-lg .navbar-collapse {
            align-items: center;
            justify-content: center;
            text-align: right;
        }
        
        @media screen and (min-width: 1100px) {
            .first {
                padding-left: 10rem !important;
            }
            .navbar-light .navbar-nav .nav-link {
                padding-right: 10rem;
                letter-spacing: .2em;
            }
        }
        
        @media (min-width: 100px) {
            .bg-overlay {
                height: 30vh;
            }
            .lead {
                font-size: 0.8rem !important;
            }
        }
        /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
        
        @media (min-width: 768px) {
            .lead {
                font-size: 1.25rem !important;
            }
        }
        /* Large devices (desktops, 992px and up) */
        
        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 3rem !important;
                padding-left: 3rem !important;
                /* text-shadow: 0 0 black; */
            }
            .bg-overlay {
                height: 450px;
            }
            .logo {
                display: none;
            }
        }
        /* Extra large devices (large desktops, 1200px and up) */
        
        @media (min-width: 1200px) {
            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 7rem !important;
                padding-left: 7rem !important;
                /* text-shadow: 0 0 black; */
            }
        }
        
        .navbar-light .navbar-nav .nav-link {
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
        
        .navbar-expand-lg .navbar-collapse {
            text-align: right !important;
        }
        
        .navbar-light .navbar-brand {
            color: black !important;
            font-weight: bold;
        }
        
        .overlay {
            position: absolute;
            color: white;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: 1;
            padding-right: 15px;
            padding-left: 15px;
        }
        
        .separador {
            background-color: transparent;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: bold;
        }
        
        .caption {
            background-color: transparent !important;
            font-size: medium;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
        }
        
        .caption p {
            margin-bottom: 0em;
        }
        
        .card {
            text-align: center;
            border: 0px;
        }
        
        .card-body {
            color: black;
            background-color: transparent!important;
            font-size: 14px;
        }
        
        .card-title {
            padding-top: 1em;
            margin-bottom: 0rem;
            font-size: 1.1rem;
            letter-spacing: .2em;
            font-weight: bold;
            background-color: transparent;
        }
        
        .card {
            border: 0;
            background-color: transparent;
        }
        
        .navbar-toggler {
            color: rgba(0, 0, 0);
            border-color: transparent !important;
        }
        
        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        
        button:hover {
            background-color: transparent !important;
        }
        
        button:visited {
            background-color: transparent !important;
        }
        
        .bg-overlay {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center center !important;
            color: #fff;
            padding-top: 1rem;
        }
        /* The Modal (background) */
        
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            /* background-color: rgb(0, 0, 0); */
            /* Fallback color */
            /* background-color: rgba(0, 0, 0, 0.4); */
            /* Black w/ opacity */
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            border: 1px solid #888;
            width: 80%;
        }
        
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
            padding-left: 10px;
        }
        
        .close:hover,
        .close:focus {
            color: gray;
            text-decoration: none;
            cursor: pointer;
        }
        
        a:link {
            text-decoration: none;
        }
        
        a:visited {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
            color: black !important;
        }
        
        a:active {
            text-decoration: underline;
            color: black !important;
        }
        
        .nav-tabs .nav-link {
            /* border: 1px solid transparent; */
            border: 0px !important;
            text-decoration: none;
        }
        
        .nav-tabs .nav-link:hover {
            text-decoration: underline;
            color: black !important;
        }
        
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: black;
            background-color: transparent !important;
            text-decoration: underline;
            border: 0 !important;
        }
        
        .nav-tabs {
            padding-bottom: 10px;
        }
        
        .list-group-item {
            background-color: transparent !important;
        }
        
        .pmenu {
            font-weight: bold;
        }
        
        #instafeed {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 0.5rem;
            max-width: 64rem;
            margin: auto;
        }
        
        #instafeed a {
            display: block;
        }
        
        #instafeed img {
            display: block;
            width: 100%;
        }