body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

a {
    color: gray;
}

.active {
    background-color: gainsboro !important;
}

.navbar-expand-lg .navbar-collapse {
    align-items: center;
    justify-content: center;
    text-align: right;
}

@media screen and (min-width: 1100px) {
    .first {
        padding-left: 10rem !important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding-right: 10rem;
    }
}

@media (min-width: 100px) {
    .logo {
        display: inline;
    }
    p {
        font-size: .5rem;
    }
    .lead {
        font-size: 0.7rem;
    }
    h4 {
        font-size: .6rem;
    }
    h5 {
        font-size: .6rem !important;
    }
    h1 {
        font-size: .9rem;
    }
    .bg-overlay {
        height: 30vh;
    }
    .separador {
        font-size: 14px;
    }
    /*1rem = 16px*/
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    p {
        font-size: 1rem;
    }
    /*1rem = 16px*/
    .lead {
        font-size: 1rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    .separador {
        font-size: large;
    }
    h5 {
        font-size: 1.25rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    .bg-overlay {
        height: 450px;
    }
    .logo {
        display: none;
    }
    /*1rem = 16px*/
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
    /*1rem = 16px*/
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar-expand-lg .navbar-collapse {
    text-align: right !important;
}

.overlay {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.overlay p {}

.separador {
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.caption {
    background-color: white;
    font-size: medium;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.caption p {
    margin-bottom: 0em;
    color: gray;
}

.card {
    text-align: center;
    border: 0px;
}

.card-body {
    color: gray;
}

.card-title {
    padding-top: 1em;
    margin-bottom: 0rem;
    font-size: medium;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 50px;
}

.about a {
    font-size: medium;
}